// Place all the styles related to the Entry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.submit {
  text-align: center;

}

.form-group {
  display: block;
  margin-bottom: 40px;
}

.entry {
  height: 50px;
}

.mdl-card {
  min-height: 0;
}

.mdl-card__supporting-text {
  white-space: pre;

}

.mdl-button--icon {
  margin-top: -7px;
}

.add-new-button {
  position: fixed;
  top: 30px;
  right: 40px;
}

.entry {
  position: relative;
  margin-bottom: 30px;

}

.mdl-badge {
  position: absolute;
  z-index: 100;
  left: -13px;

}

.explanation {
  margin-top: 40px;
  margin-bottom: 30px;
}
